body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    background-color: black;
}

.header {
    display: flex;
    background-color: brown;
    color: white;
    height: 15em;
}


.header > .text {
    display: flex;
    justify-content: left;
    width: 100%;
    position: absolute;
    color: white;
    top: 2em;
    font-size: 4em;

}

.content {
    background-color: black;
}
