body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(10, 10, 10);
}
.page-content-container {
    height: 100%;
    width: 100%;


}

.header-container {
    display: flex;
    color: white;
    height: 50%;
    object-fit: contain;
    margin-bottom: 5rem;
}

#header-text {
    left: 0;
    position:absolute;
    text-align:center;
    top: 30px;
    width: 100%;
    font-size: 4rem;
}

#header-image {
    height: 500px;
    position: relative;
    text-align: center;
    opacity: 50%;
}


.header > .text {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    color: white;
    top: 2em;
    font-size: 4em;
}



.squares_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    padding: 2rem;
}


.square-one, .square-two, .square-three, .square-four {
    width: 100%;
    height: 500px;
    position: relative;
}

.square-one img, .square-four img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.square-two, .square-three {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.square-two {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

#square-two-text {
    margin: 0;
    font-size: 2rem;
}


 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.squares_container > .square-three > .form {
    padding-top: .8em;
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    width: 70%;
}

.squares_container > .square-three > .form > .donation_text {
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 2em;
}


.squares_container > .square-three > .form > .comments{
    height: 4em;
}


.squares_container > .square-three > .form > .submit{
    width: 10em;
}

@media (max-width: 850px) {
    .squares_container {
        display: flex;
        flex-direction: column;
        padding: 0;
        align-items: center;
        
    }
    .square-one, .square-two, .square-three,S{
       padding: 0;
       width: 90%;
    }
    .square-four{
        width: 100%;
    }
}