body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    background-color: black;
}

.header {
    display: flex;
    background-color: black;
    color: white;
    height: 20em;
    transform-origin: right;
    transform: skew(0deg, 4deg);
    position: relative;
    text-align: center;

}

.header > .header_image {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    color: white;
    text-align: center;

}

.header > .header_image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.header > .text {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    color: white;
    top: 10em;
    transform: skew(0deg, 176deg);
    font-size: 1.5em;

}

.content {
    background-color: black;
}
